<footer class="footer">
  <!--    Footer Top-->
  <div class="container footer-top">
    <div class="footer-top-item">
      <img src="../../../../../assets/images/percent2x.png" alt="percent" />
      <span>Sản phẩm chính hãng</span>
    </div>
    <div class="footer-top-item">
      <img src="../../../../../assets/images/car2x.png" alt="delivery" />
      <span>Giao hàng toàn quốc</span>
    </div>
    <div class="footer-top-item">
      <img src="../../../../../assets/images/phone2x.png" alt="payment" />
      <span>Thanh toán linh hoạt</span>
    </div>
    <div class="footer-top-item">
      <img src="../../../../../assets/images/gift2x.png" alt="award" />
      <span>Tích điểm đổi quà</span>
    </div>
  </div>

  <!--    Footer Middle-->
  <div class="footer-middle">
    <div class="container">
      <div class="footer-middle-content">
        <div class="footer-middle-item">
          <h4 class="footer-middle-name">bạn đang cần được tư vấn</h4>
          <div class="footer-middle-support">
            <img src="../../../../../assets/images/telephone2x.png" alt="phone-support" />
            <p>Gọi ngay <span class="footer-middle-hotline">1800 6768</span> (miễn phí)</p>
          </div>
        </div>
        <div class="footer-middle-item">
          <h4 class="footer-middle-name">nhập email nhận mã giảm giá</h4>
          <div class="footer-middle-form">
            <img src="../../../../../assets/images/mail2x.png" alt="phone-support" />
            <input type="text" class="footer-middle-input" placeholder="Nhập email của bạn" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--    Footer Bottom-->
  <div class="footer-bottom">
    <div class="container footer-bottom-list">
      <div class="footer-bottom-location">
        <a class="footer-bottom-logo">
          <img src="../../../../../assets/images/logo_green2x.png" alt="phanolink" />
        </a>
        <div class="footer-bottom-address">
          <h4>công ty cổ phần dược phẩm phano</h4>
          <address>Địa chỉ: 31 Hồ Biểu Chánh, P.12, Q. Phú Nhuận, TP. HCM</address>
          <p>MST: 0304860663</p>
          <p>Email: cskh@phanolink.com</p>
          <p>Tel: 1800 6768</p>
        </div>
      </div>
      <div class="footer-bottom-assistant">
        <h4 class="footer-bottom-title">Hỗ trợ khách hàng</h4>
        <ul class="footer-bottom-group">
          <li>
            <a>
              <img src="../../../../../assets/images/arrow-right2x.png" alt="" />
              <span class="footer-bottom-name">Chính sách đổi trả</span>
            </a>
          </li>
          <li>
            <a>
              <img src="../../../../../assets/images/arrow-right2x.png" alt="" />
              <span class="footer-bottom-name">Chính sách giao hàng</span>
            </a>
          </li>
          <li>
            <a>
              <img src="../../../../../assets/images/arrow-right2x.png" alt="" />
              <span class="footer-bottom-name">Chính sách bảo mật</span>
            </a>
          </li>
          <li>
            <a>
              <img src="../../../../../assets/images/arrow-right2x.png" alt="" />
              <span class="footer-bottom-name">Hướng dẫn thanh toán</span>
            </a>
          </li>
          <li>
            <a>
              <img src="../../../../../assets/images/arrow-right2x.png" alt="" />
              <span class="footer-bottom-name">Hướng dẫn đặt hàng</span>
            </a>
          </li>
          <li>
            <a>
              <img src="../../../../../assets/images/arrow-right2x.png" alt="" />
              <span class="footer-bottom-name">Giải quyết phản hồi</span>
            </a>
          </li>
          <li>
            <a>
              <img src="../../../../../assets/images/arrow-right2x.png" alt="" />
              <span class="footer-bottom-name">Giấy phép kinh doanh</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom-account">
        <h4 class="footer-bottom-title">Tài khoản</h4>
        <ul class="footer-bottom-group">
          <li>
            <a>
              <img src="../../../../../assets/images/arrow-right2x.png" alt="" />
              <span class="footer-bottom-name">Đăng ký</span>
            </a>
          </li>
          <li>
            <a
            ><img src="../../../../../assets/images/arrow-right2x.png" alt="" />
              <span class="footer-bottom-name">Đăng nhập</span></a
            >
          </li>
          <li>
            <a
            ><img src="../../../../../assets/images/arrow-right2x.png" alt="" /><span class="footer-bottom-name"
            >Kiểm tra đơn hàng</span
            ></a
            >
          </li>
        </ul>
      </div>
      <div class="footer-bottom-social">
        <h4 class="footer-bottom-title">Kết nối với chúng tôi</h4>
        <ul class="social-list">
          <li>
            <a href="#"><img src="../../../../../assets/images/zalo2x.png" alt="zalo-logo" /></a>
          </li>
          <li>
            <a href="#"><img src="../../../../../assets/images/fb2x.png" alt="facebook-logo" /></a>
          </li>
          <li>
            <a href="#"><img src="../../../../../assets/images/gg-plus2x.png" alt="google-logo" /></a>
          </li>
          <li>
            <a href="#"><img src="../../../../../assets/images/youtube2x.png" alt="youtube-logo" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--    Footer Copyright-->
  <div class="container footer-copyright">
    <p><span>&copy; 2019</span> - Bản quyền thuộc về Công Ty Dược Phẩm Phano</p>
    <img src="../../../../../assets/images/bct_icon2x.png" alt="bct" />
  </div>
</footer>
