<div class="skeleton-item">
  <div>
    <ngx-skeleton-loader
      appearance="circle"
      [theme]="{
        width: '220px',
        height: '180px',
        'border-radius': '10px',
        margin: 0
      }"
    ></ngx-skeleton-loader>
  </div>
  <div>
    <ngx-skeleton-loader
      [theme]="{
        width: '220px',
        height: '20px',
        'border-radius': '3px',
        'margin': '7px 0 0 0'
      }"
    ></ngx-skeleton-loader>
    <div>
      <ngx-skeleton-loader
        [theme]="{
          width: '220px',
          height: '20px',
          'border-radius': '3px',
          'margin': '7px 0 0 0'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
