<div class="checkout-content-inner">
  <div class="checkout-fail">
    <div class="section-header section-header--center">
      <div class="header-item checkout-header checkout-header-fail">
        <h4>Thanh toán thất bại</h4>
      </div>
    </div>
    <p>Đã phát sinh lỗi trong quá trình xử lý.</p>
    <p class="checkout-fail-code">
      Qúy khách vui lòng liên hệ bộ phận chăm sóc khách hàng để được hỗ trợ nhanh nhất.
    </p>
    <a [routerLink]="['']" class="back-button"
    ><i class="fas fa-angle-left"></i>Quay lại trang chủ</a
    >
  </div>
</div>
