@import 'src/styles/helpers/variables';
@import 'src/styles/helpers/mixins';

.category {
  background-color: #fff;

  &-header {
    @include flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px 24px 33px;
    @media #{$info-screen-768} {
      padding: 15px 20px 15px 25px;
    }

    &-more {
      cursor: pointer;
      color: $bg-primary;
      text-decoration: none;
      @include font-size(18.5px);

      @media #{$info-screen-768} {
        font-size: 14px;
      }
    }
  }
}
