<section class="hot-sale">
  <div class="hot-sale-header">
    <div class="section-title">
      <img src="assets/images/hot-icon-fire.png" alt="khuyen mai hot" />
      <h3>Khuyến mãi hot</h3>
    </div>
    <a class="sale-header-more">Xem tất cả ></a>
  </div>
  <div class="hot-sale-slides">
    <owl-carousel-o [options]="customOption" class="hot-sale-list">
      <!--      <ng-container *ngFor="let slide of slides">-->
      <!--        <ng-template carouselSlide>-->
      <!--          <img [src]="slide.value" alt="abc">-->
      <!--        </ng-template>-->
      <!--      </ng-container>-->
      <ng-template carouselSlide>
        <img src="assets/images/hot-sale-slide-1-2x.png" alt="hot sale phanolink" />
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/hot-sale-slide-2-2x.png" alt="hot sale phanolink" />
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/hot-sale-slide-3-2x.png" alt="hot sale phanolink" />
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/hot-sale-slide-1-2x.png" alt="hot sale phanolink" />
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
