<section class="hot-products">
  <div class="hot-products-header">
    <img src="assets/images/product_star2x.png" alt="khuyen mai hot" />
    <div class="hot-products-title">
      <h3>Sản phẩm nổi bật</h3>
      <p>Lorem ipsum, or lipsum as it is sometimes known</p>
    </div>
  </div>
  <div class="hot-products-list">
    <div class="hot-products-left">
      <owl-carousel-o [options]="customOption">
        <ng-container *ngFor="let sale of saleProduct | async">
          <ng-template carouselSlide>
            <img
              [src]="sale.img_path"
              [alt]="sale.name"
            />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class="hot-products-right">
      <img src="assets/images/product__right2x.png" alt="hot product" />
    </div>
  </div>
</section>
