<section class="hot-products">
  <div class="hot-products-header">
    <img src="assets/images/product_star2x.png" alt="khuyen mai hot" />
    <div class="hot-products-title">
      <h3>Sản phẩm nổi bật</h3>
      <p>Lorem ipsum, or lipsum as it is sometimes known</p>
    </div>
  </div>
  <div class="hot-products-list">
    <div class="hot-products-left">
      <owl-carousel-o [options]="customOption">
        <ng-template carouselSlide>
          <img
            src="assets/images/hot-sale-slide-1-2x.png"
            alt="hot sale 1 phanolink"
          />
          <img
            src="assets/images/hot-sale-slide-1-2x.png"
            alt="hot sale 2 phanolink"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/images/hot-sale-slide-1-2x.png"
            alt="hot sale 2 phanolink"
          />
          <img
            src="assets/images/hot-sale-slide-2-2x.png"
            alt="hot sale 2 phanolink"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/images/hot-sale-slide-1-2x.png"
            alt="hot sale 3 phanolink"
          />
          <img
            src="assets/images/hot-sale-slide-1-2x.png"
            alt="hot sale 3 phanolink"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/images/hot-sale-slide-1-2x.png"
            alt="hot sale 3 phanolink"
          />
          <img
            src="assets/images/hot-sale-slide-1-2x.png"
            alt="hot sale 3 phanolink"
          />
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="hot-products-right">
      <img src="assets/images/product__right2x.png" alt="hot product" />
    </div>
  </div>
</section>
