<div class="admin-optional">
  <div class="admin-search">
    <input type="text" placeholder="Tìm kiếm sản phẩm" (keyup)="filterList($event)" #input />
    <i class="fas fa-search admin-search-icon"></i>
  </div>
  <button class="admin-button" (click)="openCreateForm()">Tạo sản phẩm</button>
</div>

<!--Table-->
<div class="admin-table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã sản phẩm</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên sản phẩm</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hình sản phẩm</th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="element.img_path"
          [style]="{ width: '60px', height: '60px', objectFit: 'cover' }"
          [alt]="element.title"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Giá sản phẩm</th>
      <td mat-cell *matCellDef="let element">{{ element.original_price | price }}</td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã giảm giá</th>
      <td mat-cell *matCellDef="let element">{{ element.discount }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Số lượng</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mô tả</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tình trạng</th>
      <td mat-cell *matCellDef="let element">Còn hàng</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onEdit(row)"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="8">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>
</div>
<mat-paginator
  [pageSize]="20"
  showFirstLastButtons
></mat-paginator>
